<div class="mb-sm">
  <%= question.body %>
</div>

<div class="text-sm question-footer">
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div class="icon">
    <%= link_to fa_icon("edit"), edit_question_path(question), title: "Изменить вопрос" %>
    <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Удалить вопрос", data: { turbo_confirm: "Вы уверены, что хотите удалить вопрос?" } %>

    <% unless question.hidden? %>
      <%= button_to fa_icon("low-vision"), hide_question_path(question), method: :put, title: "Сделать скрытым", data: { turbo_confirm: "Вы уверены, что хотите скрыть вопрос?" } %>
    <% end %> 
  </div>
</div>
