<div class="mb-sm text-with-line-breaks">
  <%= render_with_hashtags(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-red text-bold">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-gray">
    <p>
      <%= l(question.created_at, format: :short) %>
      Вопрос задал
      <% if question.author.nil? %>
        Аноним
      <% else %>
        <%= link_to nickname_with_at(question.author), user_path(question.author.nickname), class: "mr-sm nickname" %>
      <% end %>
    </p>
  </div>

  <% if current_user == question.user %>
    <div class="icon">
      <% if question.answer.present? %>
        <%= link_to fa_icon("edit"), edit_question_path(question), title: "Изменить вопрос" %>
      <% else %>
        <%= link_to fa_icon("reply"), edit_question_path(question), title: "Ответить на вопрос" %>
      <% end %>

      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Удалить вопрос", data: { turbo_confirm: "Вы уверены, что хотите удалить вопрос?" } %>

      <% unless question.hidden? %>
        <%= button_to fa_icon("low-vision"), hide_question_path(question), method: :put, title: "Сделать скрытым", data: { turbo_confirm: "Вы уверены, что хотите скрыть вопрос?" } %>
      <% end %>
    </div>
  <% end %>
</div>
